<!-- Footer --> 
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p class="footer__p">If you would like me to do some work for you or would like to join me on your team (I would be a good addition) or have a tip please let me know, thank you in advance.</p>
							<form  id="myorm">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input  type="email" name="user_email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input onclick="" type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									Baba Ahmed Dev Inc<br />
									Kiffa 03<br />
									Kiffa, Mauritania
								</li>
								<li class="icon solid fa-phone">(+222) 26 96 96 99</li>
								<li class="icon solid fa-envelope"><a href="#">baba.ahmed.dev@gmail.com</a></li>
								<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/baba-ahmed-dev/">linkedin.com/in/baba-ahmed-dev/</a></li>
								<li class="icon brands fa-github"><a href="https://github.com/baba-ahmed-dev">github.com/baba-ahmed-dev</a></li>
								<li class="icon brands fa-facebook-f"><a href="https://web.facebook.com/profile.php?id=100083001259744">facebook.com/baba-ahmed</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Baba Ahmed Dev Inc. All rights reserved.</li><li>Design: <a href="https://www.linkedin.com/in/baba-ahmed-dev/">Baba Ahmed</a></li>
							
    
							</ul>
						</div>
					</section>