---

title: Blog,
layout: 'base.njk'
---


<section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Recent articles</h2>
      <section class="features">
        {%- for post in  collections.post | reverse -%}
          {% include 'article-snippet.njk' %}
        {%- endfor %}
      </section>
    </div>
</section>