---

title : Baba Ahmed Dev
layout : 'base.njk'

---


 

  

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <div class="content">
              <h2 class="major">About me</h2>
              <p class="short__desc"> Hello, My name is Baba Ahmed, I am a self-taught full stack developer, familiar with the development and deployment process, eager to learn new technologies and fluent in three languages: English, French and Arabic.
                Please scroll down and see my projects and then I hope you will contact me.
                Thank you in advance.</p>
            </div>
          </div>
        </section>

      <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
            <div class="content">
              <h2 class="major">My skills</h2>
              <div class="skills container">
                <div class="row">
                  <div class="col-sm sek">
                    <h6 class="short__desc">Web development and OOP languages </h6>
                    <span class="skispan">Python</span><span class="skispan">Django</span>
                    <span class="skispan">JavaScript</span><span class="skispan">React</span>
                    <span class="skispan">Jquery</span><span class="skispan">Html</span>
                    <span class="skispan">Css</span><span class="skispan">Bootstrap</span>

                  </div>
                  <div class="col-sm sek">
                    <h6 class="short__desc">Database and sql </h6>
                    <span class="skispan">MySQL</span><span class="skispan">Postgresql</span>
                  </div>
                  <div class="col-sm sek">
                    <h6 class="short__desc">Containers , text editors and Git </h6>
                    <span class="skispan">Docker</span><span class="skispan">VS code</span>
                    <span class="skispan">Git</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
          <div class="inner">
            <a href="#" class="image"><img src="images/pic03.png" alt="" /></a>
            <div class="content">
              <h2 class="major">Verfied Certificate</h2>
              <p class="short__desc">This is to certify that 
                  <span class="harvard ">Baba ahmed Yahya Zeine el abidine</span>
                successfully completed and received a passing grade in
                CS50W: CS50's Web Programming with Python and JavaScript

                a course of study offered by HarvardX, an online learning
                initiative of <span class="harvard"><a target="_blank" rel="noopener noreferrer" href="https://courses.edx.org/certificates/82aaf72a13524dc687920ec18a82dd78">Harvard University</a></span>.

                
              </p>
              <h6>Valid Certificate ID:</h6>
              <a target="_blank" rel="noopener noreferrer" href="https://courses.edx.org/certificates/82aaf72a13524dc687920ec18a82dd78" class="special">82aaf72a13524dc687920ec18a82dd788</a>
            </div>
          </div>
        </section>

      <!-- Four -->
        <section id="four" class="wrapper alt style1">
          <div class="inner">
            <h2 class="major">My Projects</h2>
            <p class="short__desc">Below are some of the projects I've worked on, below each one is a brief description and two links
              one to see a detailed video of the project on youtube, and one to see the source code of the project on github.</p>
            <section class="features">
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/CtHaMq45ARQ" class="image"><img src="images/pic04.png" alt="" /></a>
                <h3 class="major">Job boards</h3>
                <p class="short__desc">Job boards application, developed with Django, React js and Djoser for authentication. The application allows the user to create an account 
                  and profile and search for jobs and employees if he is an employer.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/CtHaMq45ARQ" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba_jobs" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/Uz81LqHvlZw" class="image"><img src="images/pic05.png" alt="" /></a>
                <h3 class="major">Personal Blog</h3>
                <p class="short__desc">A personal blog that I developed with django as backend and react js as frontend,
                    it's a nice blog and has a lot of features.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/Uz81LqHvlZw" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba-blog" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/o-Q6mB_Dmo8" class="image"><img src="images/pic06.PNG" alt="" /></a>
                <h3 class="major">E-commerce website</h3>
                <p class="short__desc">An e-commerce application that I developed using Django that allows you to create an account, upload products, set their initial price, 
                  and allow other users who are interested in the product to bid on it.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/o-Q6mB_Dmo8" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba_eccomerce" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/cKgUGN86aMI" class="image"><img src="images/pic07.PNG" alt="" /></a>
                <h3 class="major">Network application</h3>
                <p class="short__desc">A network application that I developed with django, that has a lot of features that allow you to create an account, create your profile, 
                  create posts, follow users, interact with users' posts, etc.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/cKgUGN86aMI" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba-network" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/HOhUc6Vt-8s" class="image"><img src="images/pic08.PNG" alt="" /></a>
                <h3 class="major">Wikipedia</h3>
                <p class="short__desc">
                  A Wikipedia-like online encyclopedia, Wich I developed using django framework, it allows you to saerch into it,
                  create a new page , and to edit an existing one .</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/HOhUc6Vt-8s" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba-wkipedia" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/rN189d0fIcw" class="image"><img src="images/pic09.PNG" alt="" /></a>
                <h3 class="major">Email application</h3>
                <p class="short__desc">An email messaging application I developed using django framework . 
                    The application allows the user to create an account, send and receive messages, archive and reply to them.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/rN189d0fIcw" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba_mail" class="special">SOURCE CODE</a>
              </article>
            </section>
            <!---
            <ul class="actions">
              <li><a href="#" class="button">Browse All</a></li>
            </ul>
            -->
          </div>
        </section>

    </section>


<section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Featured articles</h2>
      <p class="short__desc">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
      <section class="features">
        {%- for post in  collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
        {%- endfor %}
      </section>
    </div>
</section>

  
    


