---

title : Baba Ahmed Dev
layout : 'base.njk'

---


 

  

  <!-- Wrapper -->
    <section id="wrapper">

      <!-- One -->
        <section id="one" class="wrapper spotlight style1">
          <div class="inner">
            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <div class="content">
              <h2 class="major">About me</h2>
              <p class="short__desc"> Hi there, I'm Baba Ahmed, a self-taught full stack developer 
              with a 
              <span class="harvard"><a target="_blank" rel="noopener noreferrer" href="https://courses.edx.org/certificates/82aaf72a13524dc687920ec18a82dd78">Harvard certification</a></span>
              in web programming. I'm experienced with the development and deployment process 
              and always looking to learn new technologies. 
              I'm also fluent in three languages: English, French, and Arabic. Scroll down to see some of my projects!</p>
            </div>
          </div>
        </section>

      <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
            <div class="content">
              <h2 class="major">My skills</h2>
              <div class="skills container">
                <div class="row">
                  <div class="col-sm sek">
                    <h6 class="short__desc">Web development and OOP languages </h6>
                    <span class="skispan">Python</span><span class="skispan">Django</span>
                    <span class="skispan">JavaScript</span><span class="skispan">React</span>
                    <span class="skispan">Jquery</span><span class="skispan">Html</span>
                    <span class="skispan">Css</span><span class="skispan">Bootstrap</span>

                  </div>
                  <div class="col-sm sek">
                    <h6 class="short__desc">Database and sql </h6>
                    <span class="skispan">MySQL</span>
                    <span class="skispan">Postgresql</span>
                    <span class="skispan">SQLite</span>
                  </div>
                  <div class="col-sm sek">
                    <h6 class="short__desc">Containers , text editors and Git </h6>
                    <span class="skispan">Docker</span><span class="skispan">VS code</span>
                    <span class="skispan">Git</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
          <div class="inner">
            <a href="#" class="image"><img src="images/pic03.png" alt="" /></a>
            <div class="content">
              <h2 class="major">Verfied Certificate</h2>
              <p class="short__desc">This is to certify that 
                  <span class="harvard ">Baba ahmed Yahya Zeine el abidine</span>
                successfully completed and received a passing grade in
                CS50W: CS50's Web Programming with Python and JavaScript

                a course of study offered by HarvardX, an online learning
                initiative of <span class="harvard"><a target="_blank" rel="noopener noreferrer" href="https://courses.edx.org/certificates/82aaf72a13524dc687920ec18a82dd78">Harvard University</a></span>.

                
              </p>
              <h6>Valid Certificate ID:</h6>
              <a target="_blank" rel="noopener noreferrer" href="https://courses.edx.org/certificates/82aaf72a13524dc687920ec18a82dd78" class="special">82aaf72a13524dc687920ec18a82dd788</a>
            </div>
          </div>
        </section>

      <!-- Four -->
        <section id="four" class="wrapper alt style1">
          <div class="inner">
            <h2 class="major">My Projects</h2>
            <p class="short__desc">Below are some of the projects I've worked on. 
            Each project includes a brief description and two links - one to a detailed video on YouTube, 
            and the other to the project's source code on GitHub.</p>
            <section class="features">
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/CtHaMq45ARQ" class="image"><img src="images/pic04.png" alt="" /></a>
                <h3 class="major">Job boards</h3>
                <p class="short__desc">This is a job board application developed with Django, React.js, and Djoser for authentication. The application enables users to create an account, 
                  build their profiles, and search for jobs or employees if they are employers.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/CtHaMq45ARQ" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba_jobs" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/Uz81LqHvlZw" class="image"><img src="images/pic05.png" alt="" /></a>
                <h3 class="major">Personal Blog</h3>
                <p class="short__desc">A personal blog that I developed with Django as the backend and React.js as the frontend. 
                  It has various features and is aesthetically pleasing.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/Uz81LqHvlZw" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba-blog" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/o-Q6mB_Dmo8" class="image"><img src="images/pic06.PNG" alt="" /></a>
                <h3 class="major">E-commerce website</h3>
                <p class="short__desc">An e-commerce application that I developed using Django. 
                  The application allows users to create an account, upload products, set their initial prices, 
                  and enable other interested users to bid on them.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/o-Q6mB_Dmo8" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba_eccomerce" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/cKgUGN86aMI" class="image"><img src="images/pic07.PNG" alt="" /></a>
                <h3 class="major">Network application</h3>
                <p class="short__desc">A network application that I developed using Django that has numerous features. 
                  The application allows users to create an account, build their profiles, create posts, follow other users, 
                  and interact with other users' posts, among other features.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/cKgUGN86aMI" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba-network" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/HOhUc6Vt-8s" class="image"><img src="images/pic08.PNG" alt="" /></a>
                <h3 class="major">Wikipedia</h3>
                <p class="short__desc">
                  An online encyclopedia that I developed using the Django framework, similar to Wikipedia. 
                  The application enables users to search for information, create new pages, and edit existing ones</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/HOhUc6Vt-8s" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba-wkipedia" class="special">SOURCE CODE</a>
              </article>
              <article>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/rN189d0fIcw" class="image"><img src="images/pic09.PNG" alt="" /></a>
                <h3 class="major">Email application</h3>
                <p class="short__desc">An email messaging application that I developed using the Django framework. The application enables users to create an account, 
                  send and receive messages, archive them, and reply to them.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/rN189d0fIcw" class="special">VIDEO</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/baba-ahmed-dev/baba_mail" class="special">SOURCE CODE</a>
              </article>
            </section>
            <!---
            <ul class="actions">
              <li><a href="#" class="button">Browse All</a></li>
            </ul>
            -->
          </div>
        </section>

    </section>


<section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Featured articles</h2>
      <p class="short__desc">Here you will find a selection of articles that will give you a good understanding 
      of what I am writing about, 
      which is mostly related to programming and new technologies.</p>
      <section class="features">
        {%- for post in  collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
        {%- endfor %}
      </section>
    </div>
</section>

  
    


